version: "3"
services:
    mongo:
        container_name: mongo-container
        image: mongo:4
        restart: always
        volumes:
            - ./data:/data/db
        ports:
            - "27017:27017"
    api:
        container_name: api-container
        image: node:16
        working_dir: /usr/src/clean-node-api
        command: bash  -c "yarn install --only=prod  &&  yarn start"
        restart: always
        volumes:
            - ./dist/:/usr/src/clean-node-api/dist/
            - ./package.json:/usr/src/clean-node-api/package.json
        ports:
            - "5000:5000"
            - "9222:9222"
        links:
            - mongo
